# ------------------------
# JetBrains / PyCharm
# ------------------------
.idea/
*.iml
*.iws

# ------------------------
# macOS
# ------------------------
.DS_Store

# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pytest_cache/
*.mypy_cache/
*.venv/
env/
venv/
ENV/
pip-log.txt

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Data / pipeline output
# ------------------------
dataset/
output/
snapshots/

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Misc
# ------------------------
*.swp
